header {
	height: 76px;
	width: 100%;
	background-color: $Purple;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 5;


	.nav {
		width: 100%;
		margin: 0 auto;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.navLeft {
		width: 35%;
	}

	.navRight {
		width: 65%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.navLinks {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;	
		ul {
			margin:0;
		}
		li {
			list-style-type: none;
			padding: 0 10px;
			}
	}

	a {
		color: $PrimaryColour;
		text-decoration: none;
	}

	a:hover {
		color: $Hover;
		margin: 0;
	}

	.social {
		width: 15%;
		color: $PrimaryColour;
		margin-left: 5px;
	}

	.fa {
		font-size: 20px;
		margin: 0 5px;
	}

	.toggle {
		color: white;
		display: none;
	}

	input[type=checkbox], input[type=radio] {
	    display: none;
	}
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	header {
		height: 105px;		
		.nav {
			flex-direction: column;
			text-align: center;
		}

		.navLeft, .navRight {
			width: 100%;
		}

		ul {
			margin: 1%;
		}

		.navLinks li {
			padding: 0 1%;
			}
		}
	}

/* Landscape phones and down */
@media (max-width: 480px) {

header {
	.wrapper {
			width: 100%;
			margin: 0;
		}

		h1 {
			margin-top: 0;
		}
		
		.nav {
			width: 85%;
			margin: 0;
		}
			
		.toggle {
			display: unset;
			top: 27px;
			right: 0;
	    width: 10%;
		}

		.navRight {
			width: 100%;
			position: fixed;
		}

		.navLinks {
			display: flex;
			flex-direction: column;
		  text-align: center;
	    position: fixed;
	    top: 105px;
	    left: 0px;
	    padding: 0;
	    width: 100%;
	    background: rgba(255,255,255,0.85);
	    margin: 0;
	    padding: 22px;
	    display: none;
	    height: 100vh;

	    li {
	    	  padding: 12px 0px;
	    		font-size: 22px;
	    	a {
	    		color: $SecondaryColour;
	    	}
				a:hover {
					color: $Hover;
				}
	    }
		}
		.fa {
			font-size: 26px;
			margin: 0 5px;
		}

		input#toggle:checked + .navLinks {
		  display: block; 
		}

		input#toggle {
		  display: none; 
		}

		label[for="toggle"] {
		  position: fixed;
		  top: 32px;
	    padding: 3%;
	    right: 15px;
		}	
	}
}